<!--<nav class="sticky-nav blue darken-1">-->
<!--  <a class="text-accent-4" href="#" style="font-family: 'Fira Code Light'; font-size: 50px; align-content: center;">-->
<!--    Pfizer x Party-->
<!--  </a>-->
<!--</nav>-->

<div class="row" >
  <div class="col s12 circle">
<div class="card horizontal   orange lighten-2" style="height: 140px" style="background-image: url('/assets/image/gradienta-n2XqPm7Bqhk-unsplash.jpg')">
  <div class="card-image" >
    <img width="100px" height="100px"  src="{{trackCurrent.url}}">
  </div>
  <div class="card-stacked">
    <div class="card-content  circle">
      <h4 class="hide-on-small-and-down">Teraz: {{trackCurrent.name}}</h4>
      <h5 class="hide-on-med-and-up">Teraz: {{trackCurrent.name}}</h5>
      <div class="card-action">
        <a>{{msToTime(trackCurrent.durationMs)}} </a>
        <a style="float: right">{{msToTime(trackCurrent.progressMs)}} </a>
        <div class="progress">
          <div class="determinate grey pink accent-4" [style.width.%]="jakiprocent" ></div>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="card-panel orange lighten-2">
      <a class="waves-effect grey darken-2 btn-large" style="width: 100%"  (click)="voteSkip()">Skip vote {{counterVote}}/5</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m5 offset-m1">
    <div class="card-panel orange lighten-2">
      <h3 style="margin-top: 10px">Lista {{this.tracks.length}}</h3>
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="searchFilter" id="listSearch">
      <h6 style="margin-top: 2px; margin-bottom: 0px">{{this.num | minutetoseconds}} /1:00min</h6>

      <div class="myDIV">
    <table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngFor="let track of tracks | searchFilter: searchFilter" style="height: 50px">
<!--  <tr  [ngClass]="this.tracksQueue.length>9 ? 'red' : 'null' ">-->
<!--    <td>-->
<!--      <img width="40" height="40"  src="{{track.url}}">-->
<!--    </td>-->
<!--    <td style="font-size: 15px">{{track.name}}</td>-->
<!--    <td>-->
<!--     <button [ngClass]="czyMozeszVote ? 'waves-effect btn-flat green btn-small' : 'waves-effect btn-flat red btn-small'" style="padding-left: 2px; padding-right: 2px"   (click)="addSongCounter(track)">Dodaj</button>-->
<!--    </td>-->
    <div class="row" style="height: 40px">
      <div class="col s2">
        <div class="card-image">
          <img width="60" height="60"  src="{{track.url}}">
        </div>
      </div>
      <div class="col s7 offset-s1" tyle="font-size: 15px">
        {{track.name}}
      </div>
      <div class="col s2">
        <button [ngClass]="czyMozeszVote ? 'waves-effect btn-flat green btn-small' : 'waves-effect btn-flat red btn-small'" style="padding-left: 2px; padding-right: 2px"   (click)="addSongCounter(track)">Dodaj</button>
      </div>
    </div>
<hr style="margin-top: 0px">
<!--  </tr>-->
  </tbody>
</table>
      </div>
  </div>
  </div>
  <div class="row">
  <div class="col s12 m5">
    <div class="card-panel orange lighten-2">

    <h3>Kolejka {{this.tracksQueue.length}}/10 <a *ngIf="this.tracksQueue.length>9" class="red-text">ZAPEŁNIONA</a></h3>
      <div class="myDIV" style="height: 409px">
    <table>
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngFor="let track of this.tracksQueue">
      <tr>
        <td><img width="70" height="70px"  src="{{track.trackJson.url}}"></td>
        <td style="font-size: 15px">{{track.trackJson.name}}</td>
      </tr>
      </tbody>
    </table>
      </div>
  </div>
</div>
</div>
</div>
  <a class="amber-text" style="font-family: 'Hiragino Kaku Gothic StdN'">© 2021 Adrian Grenda</a>
